[Unit]
Description=start celery worker

[Service]
ExecStart=/bin/bash -c 'cd /data/projects/oms/omsBackend; /root/envs/envoms/bin/celery -A omsBackend worker --loglevel=info --pool=eventlet -f /data/logs/oms/celery.log'
#非正常dead，自动重启
Restart=on-failure
#3秒后启动
RestartSec=3s
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all

[Install]
WantedBy=multi-user.target
