[Unit]
Description=Daphne Interface new Server

[Service]
ExecStart=/data/projects/oms/omsBackend/daphnew
NonBlocking=true

[Install]
WantedBy=multi-user.target