[Unit]
Description=Daphne Interface Server
[Service]
ExecStart=/usr/bin/bash -c '/data/projects/oms/omsBackend/daphnew'
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target