[Unit]
Description=Daphne Interface Server
[Service]
ExecStart=/data/projects/oms/omsBackend/daphnew
Restart=always
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all
[Install]
WantedBy=multi-user.target