[Unit]
Description=Daphne Interface Server

[Service]
ExecStart=/bin/bash -c '/root/.pyenv/shims/daphne -b 0.0.0.0 -p 8001 -v2 omsBackend.asgi:channel_layer --access-log=/data/logs/oms/daphnei.log'
NonBlocking=true
WorkingDirectory='/data/projects/oms/omsBackend'

[Install]
WantedBy=multi-user.target