[Unit]
Description=Daphne Interface Server

[Service]
ExecStart=/data/projects/oms/omsBackend/daphnei
NonBlocking=true

[Install]
WantedBy=multi-user.target