[Unit]
Description=uWSGI instance to serve oms

[Service]
ExecStartPre=/bin/bash -c 'mkdir -p /run/uwsgi; chown oms:nginx /run/uwsgi'
ExecStart=/bin/bash -c 'cd /data/projects/oms/omsBackend; /root/.pyenv/versions/envoms3/bin/uwsgi --ini oms.ini --touch-reload=/etc/nginx/uwsgi_params'
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
