amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
Django==1.11
django-appconf==1.0.2
django-celery-results==1.0.1
django-cors-headers==2.1.0
django-filter==1.0.4
django-python3-ldap==0.11.1
django-rest-auth==0.9.1
djangorestframework==3.6.3
djangorestframework-jwt==1.11.0
dry-rest-permissions==0.1.9
idna==2.6
kombu==4.1.0
ldap3==2.3
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
pyasn1==0.3.2
PyJWT==1.5.3
pytz==2017.3
redis==2.10.6
requests==2.18.4
six==1.11.0
SkPy==0.8.1
urllib3==1.22
vine==1.1.4
