.el-submenu__title{
    padding-left: 28px!important;
    width: 200px!important;
    font-size: 16px;
}

.el-card__header {
    padding: 5px!important;
    background-color: rgba(42, 174, 200, 0.32);
}